<head>
  <title>
    Cat photo
  </title>
</head>

<body style='border: 2px solid grey; padding: 20px;'>

  <h1 style='margin-left: 180px; font-size: 100px'>Cute kitty</h1>
  <h2 style ='font-size: 50px'> <%= ["Yuri", "Timmy"].sample %> </h2>

  <img style='border: medium solid pink; border-radius: 2em;', src= 'http://bit.ly/1eze8aE'>
</body>
