<head>
  <title>
    Cat photo
  </title>
</head>

<body style='border: 2px solid grey; padding: 20px; font-family: Courier'>

  <h1 style='margin-left: 20px; font-size: 100px'>Cute kitty</h1>
  <h2 style ='margin-left: 180px; font-size: 50px; color: green'> <%= @name %> </h2>

  <img style='border: medium solid pink; border-radius: 2em;', src= 'http://bit.ly/1eze8aE'>
</body>
