<head>
  <title>
    Cat photo
  </title>
</head>

<body style='border: 2px solid grey; padding: 20px;'>

  <h1 style='margin-left: 180px;'>Kitteee</h1>

  <img style='border: medium solid pink; border-radius: 2em;', src= 'http://bit.ly/1eze8aE'>
</body>
